# Default values for legal-deploy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  domain: ""
  limitsEnabled: true
  logLevel: "ERROR"
  tier: ""
  autoscalingMode: "cpu"

data:
  # configmaps
  logLevel: ""
  acceptHttp: "true"
  entitlementsHost: "http://entitlements"
  defaultLegalTag: "default-data-tag"
  legalHost: "http://legal"
  partitionHost: "http://partition"
  otelJavaagentEnabled: "true"
  otelExporterEndpoint: "http://opentelemetry-collector.opentelemetry.svc.cluster.local:4318"
  # deployments
  requestsCpu: "50m"
  requestsMemory: "512Mi"
  limitsCpu: "1"
  limitsMemory: "1G"
  legalStatusUpdateImage: ""
  cronJobServiceAccountName: ""
  serviceAccountName: "legal"
  imagePullPolicy: "IfNotPresent"
  image: ""
  affinityLabelsSpot:
    cloud.google.com/gke-provisioning:
      - spot
  affinityLabelsStandard:
    cloud.google.com/gke-provisioning:
      - standard

conf:
  configmap: "legal-config"
  appName: "legal"

istio:
  proxyCPU: "5m"
  proxyCPULimit: "500m"
  proxyMemory: "50Mi"
  proxyMemoryLimit: "512Mi"

hpa:
  minReplicas: 1
  maxReplicas: 6
  cpu:
    utilization: 200
    scaleUpStabilizationWindowSeconds: 30
    scaleUpValue: 200
    scaleUpPeriod: 15
    scaleDownStabilizationWindowSeconds: 150
    scaleDownValue: 100
    scaleDownPeriod: 15
  requests:
    targetType: "AverageValue"
    targetValue: 40
    scaleUpStabilizationWindowSeconds: 10
    scaleUpValue: 50
    scaleUpPeriod: 15
    scaleDownStabilizationWindowSeconds: 60
    scaleDownValue: 25
    scaleDownPeriod: 60

limits:
  maxTokens: 30
  tokensPerFill: 30
  fillInterval: "1s"
